*{
    margin:0;
    padding:0;
}

header{
    height:44px;
 }
 section{
    flex:1;
    overflow:auto;
    background:#efefef;
  }
  footer{
      width:100%;
      background:white;
    height:44px;
    border-top:1px solid #d8d8d8;
 }
