<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/iuapmobile.um.css">
		<link rel="stylesheet" href="../css/font-icons.css">
		<link rel="stylesheet" href="../css/iscroll.css" />
		<style>
			#startDate, #endDate {
				display: block;
				width: 180px;
				height: 45px;
				line-height: 45px;
				border: none;
				outline: none;
				text-align: right;
				background: #fff;
				font-size: 16px;
			}
			#billTypeSelect_dummy {
				border: none;
				padding-left: 10px;
				color: #555;
				font-size: 17px;
			}
			#billTypeSelect_dummy:disabled {
				background: #fff;
			}
			#filterTree {
				position: absolute;
				left: 0;
				top: 54px;
				width: 100%;
				background: #ccc;
				/* border: 1px solid #000; */
				height: 300px;
				overflow: auto;
				z-index: 9999;
				/* display:none; */
			}
			#filterTree ul li {
				background: transparent;
				padding: 0;
				line-height: 150%;
			}
			#filterTree ul li p {
				padding: 5px 0;
			}
			#filterTree > ul > li li {
				padding-left: 30px;
			}
		</style>
		<script src="../js/summer.js" ></script>
		<script src="../js/jquery.min.js" ></script>
		<script src="../js/angular.js" ></script>
		<script src="../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
		<script src="../js/app/arSearch.js" ></script>
		<script src="../js/iscroll.js"></script>
	</head>
	<body ng-app="arSearch" ng-controller="arSearchCtr">
		<div class="um-frame" id="arSearch">
			<div class="um-header">
				<h3>报销单筛选</h3>
			</div>
			<div class="um-content">
				<div id="arSearchPanel">
					<ul class="um-list">
						<li>
							<div class="um-list-item">
								<div class="um-list-item-inner">
									<div class="um-list-item-left pl10">
										起始日期
									</div>
									<div class="um-list-item-right">
										<input id="startDate" type="date" name="date" class="form-control">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="um-list-item">
								<div class="um-list-item-inner">
									<div class="um-list-item-left pl10">
										结束日期
									</div>
									<div class="um-list-item-right">
										<input id="endDate" type="date" name="date" class="form-control">
									</div>
								</div>
							</div>
						</li>
						<!-- 	<li>
						<div class="um-list-item">
						<div class="um-list-item-inner">
						<div class="um-list-item-left pl10">
						部门编码
						</div>
						<div class="um-list-item-right">
						<input type="text" class="form-control" placeholder="请输入部门编码" id="orgCode">
						</div>
						</div>
						</div>
						</li> -->
						<li>
							<div class="um-list-item">
								<div class="um-list-item-inner" style="position:relative;">
									<div class="um-list-item-left pl10">
										部门
									</div>
									<div class="um-list-item-right">
										<input type="text" ng-click="filterShow = !filterShow" ng-model="filterBumen" class="form-control" id="orgName">
									</div>
								</div>
								<div id="filterTree" ng-show="filterShow">
									<ul>
										<li data-id="{{filterWinBuMenData[0].id}}">
											<p>
												<span class="icon"></span><b>{{filterWinBuMenData[0].text}}</b>
											</p>
											<ul ng-show="filterWinBuMenData.children.length != 0">
												<li ng-repeat="item in filterWinBuMenData[0].children | filter:filterBumen">
													<p data-id="{{item.id}}">
														<span class="icon"></span><b>{{item.id+item.text}}</b>
													</p>
													<ul ng-show="item.children.length != 0">
														<li ng-repeat="it in item.children | filter:filterBumen">
															<p data-id="{{it.id}}"  ng-click="fuzhi(it)">
																<span class="icon"></span><b>{{it.id+it.text}}</b>
															</p>
														</li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<div class="um-list-item">
								<div class="um-list-item-inner">
									<div class="um-list-item-left pl10">
										单据类型
									</div>
									<div class="um-list-item-right" >
										<input type="text"  id='billTypeSelect_dummy'/>
										<select id='billTypeSelect' class="itemSelect form-control">
											<option value="">全部</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="um-list-item">
								<div class="um-list-item-inner">
									<div class="um-list-item-left pl10">
										单据号
									</div>
									<div class="um-list-item-right">
										<input type="text" class="form-control" id="billNo">
									</div>
								</div>
							</div>
						</li>
						<!-- <li>
							<div class="um-list-item">
								<div class="um-list-item-inner">
									<div class="um-list-item-left pl10">
										报销人编码
									</div>
									<div class="um-list-item-right">
										<input type="text" class="form-control" id="inputorId">
									</div>
								</div>
							</div>
						</li> -->
						<li>
							<div class="um-list-item">
								<div class="um-list-item-inner">
									<div class="um-list-item-left pl10">
										报销人
									</div>
									<div class="um-list-item-right">
										<input type="text" class="form-control" id="inputorName">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="um-list-item">
								<div class="um-list-item-inner">
									<div class="um-list-item-left pl10">
										金额
									</div>
									<div class="um-list-item-right">
										<input type="text" class="form-control" placeholder="最小金额" id="minMoney">
									</div>
									—
									<div class="um-list-item-right">
										<input type="text" class="form-control" placeholder="最大金额" id="maxMoney">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="um-list-item">
								<div class="um-list-item-inner">
									<div class="um-list-item-left pl10">
										事由
									</div>
									<div class="um-list-item-right">
										<!-- <textarea id="reason" style="height:80px;padding: 10px 0;" class="form-control" ></textarea>  -->
										<input id="reason" type="text" class="form-control" >
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="um-footer">
				<div class="btn-group btn-group-justify">
					<button type="button" class="btn" id="clearArSearch">
						重置
					</button>

					<button type="button" class="btn" ng-click="filterOkBtn()" id="saveArSearch">
						确定
					</button>
				</div>
			</div>
		</div>

		<script>
			$(function() {
				var opt = {
					'date' : {
						preset : 'date'
					},
					'select' : {
						preset : 'select'
					}
				};
				$('.itemSelect').scroller('destroy').scroller($.extend(opt['select'], {
					theme : "ios7",
					mode : "scroller",
					display : "bottom",
					animate : ""
				}));
			});
		</script>
	</body>
</html>